body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ScoreCardTable,
.ScoreCardRow,
.ScoreCardCol {
  border: 1px solid #dbdbdb;
  border-collapse: collapse;
  text-align: center;
}
.ScoreCardTable {
  width: 80%;
  height: 100px;
  background-color: #f4f4f4;
}
.ScoreChartDiv {
  height: 50px;
}
.ScoreChart {
  height: 100px !important;
  vertical-align: top;
  width: 202;
}
.ScoreChartCol {
  width: 210px;
  margin-right: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  height: 178px;
}
.ScoreChartRow {
  width: 80%;
  display: flex;
}
.ScoreChartTitle {
  margin: 0;
}
.ScoreChartValueDiv {
  text-align: right;
}
.ScoreChartValue {
  text-align: right;
  font-size: 30px;
}
.ScoreChartPersent {
  text-align: right;
  font-size: 11px;
}
.ArrowUp {
  color: red;
}
.ArrowDown {
  color: blue;
}
.ScoreChartAdd1,
.ScoreChartAdd2 {
  border: 1px solid #ccc;
  margin-right: 10px;
}
.ChartAdder {
  color: blue;
  font-size: xxx-large;
}
.ScoreChartAddContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DropDownLayer {
  border: 1px solid #ccc;
  background-color: white;
}
.DropDownHeader {
  padding: 5px;
  background-color: #e1e3ec;
  display: flex;
  justify-content: space-between;
}
.ChartFilter {
  width: 230px;
  padding: 5px;
}
.DropDownCloseContainer {
  display: flex;
  align-items: center;
}
